
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <p></a></p>
    <p>My name is James Khumalo, I envisioned a worldwide market place where artisans and customers can connect and enjoy handcrafted works of art.</a></p>
    <p>Please join us in this journey as we seek to grow and spread the wonderfully crafted products of artisans around the globe!</a></p>

    <body>
        <img src="/images/about us.jpg" width="600" height="400"
    </body>

</div>


