
@{
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h1 class="display-4">Contact US</h1>
    <p></a></p>
    <p>Please feel free to contact us at anytime for any Questions!</a></p>
    <p></a></p>
    <p>khumaloemporium@gmail.com</a>.</p>
    <p>Fax: +27-65-751-043</a>.</p>
    <p>Telephone: +27-83-794-5476</a>.</p>
</div>

