﻿@{
    var UserID = ViewData["UserID"];
}
@if (UserID != null)
{
    <p>User ID: @UserID</p>
}
@{
    ViewData["Title"] = "KhumaloCraft Emporium";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is KhumaloCraft Emporium</a>.</p>
    <p>An Emporium for Goregeous Handcrafted Goods Worldwide</a>.</p>
</div>
