
@{
    ViewData["Title"] = "Login";
}
<body>
    <form action="SignUp" method="post">
        <p>Sign Up</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <input type="text" name="password" placeholder="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
